* {
    margin: 0;
    padding: 0;
    font-family: 'Bodoni Moda', serif;
    background-color: #f6f5e9 ;
}

body {
  margin: 0;
  padding: 0;
  background: #f6f5e9;
  color: #4F633B;
  font-family: 'Bodoni Moda', serif;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 25px;
  z-index: 1;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #b75227;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #274349;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

img {
    position: relative;
    display: flex;
    width: 100%;
}

h1 {
    position: relative;
    font-size: 55px;
    margin-top: -40px;
    margin-right: 15px;
    text-align: right;
    color:#4F633B;
}

.kopjes h1 {
    text-align: center;
    color:#4F633B;
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 15px;

}

h2 {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: #212321;
    margin-top: 5px;
    margin-bottom: 15px;
}

p {
    color: #274349;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
}

.hero-btn {
    margin-top: 8%;
    margin-bottom: 15%;
    display: inline-block;
    text-decoration: none;
    color:#f6f5e9;
    padding: 12px 34px;
    font-size: 15px;
    background:#b75227;
    cursor: pointer;
}

.hero-btn:hover {
    border: 2px solid #b75227;
    background: #f6f5e9;
    text-decoration: none;
    color: #274349;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.wrapper nav a:link {
    text-decoration: none;
    color: #274349;
}

.wrapper nav a:visited {
    text-decoration: none;
    color: #274349;
}

.wrapper nav a:hover {
    text-decoration: none;
}

.wrapper nav a:active {
    text-decoration: none;
}

.center-text {
    text-align: center;
}

.box-leaf {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("Images/leaves 2 times.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
 font-size: 4em;
}

.left h2 {
    text-align: left;
    color: #274349;
    margin-left: 5%;
    margin-top: 40px;
}

.left p {
    text-align: left;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
}

.right h2 {
    text-align: right;
    color: #274349;
    margin-right: 5%;
    margin-top: 40px;
}

.right p {
    text-align: right;
    font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
}

.footer {
    text-align: center;
    font-size: 15px;
    color: #274349;
    margin-left: 25%;
    margin-bottom: 0%;
}

